.weather-content{
    justify-content: center;
    display: flex;
    border-radius: 1em;
    max-width: 600px;
    max-height: 200px;
    margin: 40px auto;
}

.city {
    font-size: 100px;
}

.temperature {
    font-size: 60px;
}

.current-details {

}


