@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@700&display=swap');

body {
  background-image: url("https://cdn.oboi7.com/content/images/bb/e4/bbe4f6f684929b8c46fa75f9646e54165b3c647c.png");
  background-size: 100%;
  color: #DFDFDE;
  margin: 0;
  font-family: 'Akshar', sans-serif;
}

